* {
  margin: 0px;
  border: 1px solid red;
}

body {
    width: 90%;
    color: black;
    background-image: url("../assets/gradientbackground.jpg");
}

table {
  margin-left: 70px;
	border: 10px;
}

td {
	padding: 8px;
	border-radius: 8px;
  border: 1px solid dimgray;
  background: white;
}

th {
	background-color: green;
	color: white;
}

fieldset {
  width: 900px;
  margin-left: 70px;
  margin-top: 120px;
}

input {

}

label {

}

legend {

}

button {

}

button:hover {


}

p {
  font-family: 'Helvetica';
}

h2 {
  margin-left: 425px;
}

footer {
  margin-left: 175px;
  margin-right: 175px;
  width: 900px;
  background-color: white;
}

li {
  display: inline;
  padding: 0.5em;
}

#content {
  overflow: auto;
}

#nav-bar, #footer {
  margin: 0%;
  width: 100%;
}


#header-container {
  font-family: 'Slabo 27px', serif;
  font-size: 75%;
  position: fixed;
  width: 275px;
  height: auto;
  margin: 0px;
  float: left;
}


#front-center-header {
  background-color: #526d53 !important;
  color: white;
  position: fixed;
  width: 100%;
  height: 70px;
  margin: 0px;
  white-space: nowrap;
}


#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

#nav-bar li {
  padding: 15px 10px 0px 15px;
  display: inline;
  float: right;
  height: 55px;
  border-right: 1px solid #bbb;
}

#nav-bar a {
text-decoration: none;
padding: inherit;
color: inherit;
}

.active {
  background-color: #e56b5e;
}

#nav-bar a:hover:not(.active) {
  color: #FFDDA1;
  padding: inherit;
}

* {
  font-family: 'Helvetica';
}
