* {
  font-family: 'Helvetica';
}

body {
  background: white;
}

table {
	border: 10px solid dimgray;
}

td {
	padding: 8px;
	border-radius: 8px;
  border: 1px solid dimgray;
  background: white;
}

th {
	background-color: green;
	color: white;
}
