* {
  margin: 0px;
  /*border: 1px solid red;*/
}

body {
    width: 90%;
    background-image: url("../assets/gradientbackground.jpg");
}

footer {
  margin-left: 215px;
  margin-right: 215px;
  width: 980px;
  background-color: white;
}

#event-list {
  position: fixed;
  font-family: 'Josefin Slab', serif;
  padding: 20px 0px -10px 0px;
  margin-top: 70px;
  margin-left: 215px;
  margin-right: 215px;
  width: 980px;
  height: auto;
  color: black;
  background-color: white;
}

#event-list h2 {
  padding: 0.5em;
  text-align: center;
  width: 980px;
  /*margin-left: 225px;*/
  display: block;
}

#event-list h3 {
  padding: 0.5em;
  display: block;
  width: 980px;
  text-align: center;
}

#event-list ul {
  margin-left: -50px;
}

#event-list li {
  padding: 0.5em;
  width: 980px;
  text-align: center;
  display: block;

}

/*
#nav-bar, #footer {
  margin: 0%;
  width: 100%;
}*/

#header-container {
  font-size: 100%%;
  position: fixed;
  width: 275px;
  height: auto;
  margin: 0px;
  float: left;
}


#front-center-header {
  font-family: 'Amatic SC', cursive;
  background-color: #526d53 !important;
  color: white;
  position: fixed;
  width: 100%;
  height: 70px;
  margin: 0px;
  white-space: nowrap;
}



#nav-bar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#nav-bar li {
  padding: 15px 10px 0px 15px;
  display: inline;
  float: right;
  height: 55px;
  border-right: 1px solid #bbb;
}

#nav-bar a {
text-decoration: none;
padding: inherit;
color: inherit;
}

.active {
  background-color: #e56b5e;
}

#nav-bar a:hover:not(.active) {
  color: #FFDDA1;
  padding: inherit;
}


#salmon-pic {
  margin-left: 360px;
  width: 250px;
  height: auto;
}
