* {
  margin: 0px;
}

body {
    width: 90%;
    background-image: url("../assets/gradientbackground.jpg");
}

footer {
  top: 975px;
  margin-left: 400px;
  margin-right: 215px;
  width: 980px;
  position: relative;
  text-align: center;
  background-color: white;
}

#location-list {
  list-style-type: none;
  position: fixed;
  font-family: 'Josefin Slab', serif;
  margin-top: 70px;
  margin-left: 400px;
  width: 980px;
  color: black;
  background-color: white;
}

#event-list {
  position: fixed;
  font-family: 'Josefin Slab', serif;
  margin-top: 70px;
  margin-left: 400px;
  width: 980px;
  height: 1000px;
  color: black;
  background-color: white;
}

#event-list h2, #location-list h2 {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 0.5em;
  text-align: center;
  width: 980px;
  display: block;
}

#event-list h3, #location-list h3 {
  padding: 0.5em;
  display: block;
  width: 980px;
  text-align: center;
}

#event-list ul, location-list ul {
  margin-left: -50px;
}

#event-list li {
  padding: 0.5em;
  width: 980px;
  text-align: center;
  display: block;

}

#header-container {
  font-size: 100%%;
  position: fixed;
  width: 275px;
  height: auto;
  margin: 0px;
  float: left;
}

#front-center-header {
  font-family: 'Amatic SC', cursive;
  background-color: #526d53 !important;
  color: white;
  position: fixed;
  width: 100%;
  height: 70px;
  margin: 0px;
  white-space: nowrap;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#nav-bar li {
  padding: 15px 10px 0px 15px;
  display: inline;
  float: right;
  height: 55px;
  border-right: 1px solid #bbb;
}

#nav-bar a {
text-decoration: none;
padding: inherit;
color: inherit;
}

.active {
  background-color: #e56b5e;
}

#nav-bar a:hover:not(.active) {
  color: #FFDDA1;
  padding: inherit;
}

#story-photos ul li {
  display: block;
}

#family-photo {
  padding: 20px 20px;
  margin-left: 425px;
  width: 500px;
  height: 282px;
}

#first-cookie {
  padding: 20px 20px;
  margin-left: 545px;
}

#story-photos ul li p {
  text-align: center;
  font-size: 40px;
}

#salmon-pic, #school-fish {
  padding: 20px 20px;
  margin-left: 350px;
  width: 250px;
  height: auto;
}
